/* Base rules */
html {
  font-size: 16px;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #6c757d;
}

/* NavBar */

nav.h-nav {
  background: transparent;
  padding: 1rem 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 2rem;
  color: rgb(144, 223, 25);
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav .navbar-nav li a {
  color: rgb(144, 223, 25);
  font-size: 17px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

nav .navbar-nav li a:hover,
nav .navbar-brand:hover {
  color: #fff;
}

nav.stickyadd {
  background: #fff;
  padding: 5px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #000;
  padding-left: 2rem;
  transition: 1s all;
}

nav.stickyadd .nav-link {
  color: #000;
}

nav.stickyadd .navbar-nav li a:hover,
nav.stickyadd .navbar-brand:hover {
  color: rgb(144, 223, 25);
}

nav .navbar-nav li a:focus,
nav .navbar-nav li a:active {
  color: #fff;
}

nav .navbar-brand:focus,
nav .navbar-brand:active {
  color: rgb(144, 223, 25);
}

/* Accueil Section  */

header {
  height: 100vh;
  background-image: url(../images/Accueil-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 1000px;
  color: #dfd5d5;
}

.content-box h1 {
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box h4 {
  font-size: 1.8rem;
}

.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid rgb(144, 223, 25);
  border-radius: 20px;
  padding: 5px 22px;
}

.content-box a:hover {
  color: #000;
  background-color: #fff;
  transition: 0.5s all;
}

.content-box p {
  color: #ababab03;
}

.animated-title {
    color: rgb(144, 223, 25);
    display: inline-block;
    min-height: 1em;
}

/* Parcours section */

.parcours img {
  height: 80vh;
}

.parcours-title {
  color: #000;
}
.parcours-content {
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #6c757d;
}

.parcours-content li {
  margin-bottom: 1rem;
}

/* Compétences section */

.compétences {
  background-color: RGB(235, 235, 235);
}

.compétences-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-container a {
  margin: 2rem;
}

.skill-html {
  background: url(/assets/images/html-icon.png);
}

.skill-css {
  background: url(/assets/images/css-icon.png);
}

.skill-js {
  background: url(/assets/images/js-icon.png);
}

.skill-bootstrap {
  background: url(/assets/images/bootstrap-icon.png);
}

.skill-jQuery {
  background: url(/assets/images/jQuery-icon.png);
}

.skill-react {
  background: url(/assets/images/react-icon.png);
}

.skill-node {
  background: url(/assets/images/node-icon.png);
}

.skill-express {
  background: url(/assets/images/express-icon.png);
}

.skill-git {
  background: url(/assets/images/git-icon.png);
}

.skill {
  background-position: center;
  background-size: contain;
  width: 6rem;
  height: 6rem;
  border: none;

  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: scale(1.1) translateY(-5px);
}


/* Projects section*/
.card {
  width: 22rem;
  padding: .1em;
  border-radius: 6px;
  position: relative
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.card-image {
  border-radius: 6px;
  margin: 0.5rem;
}

.card-image:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(25, 135, 85);
  padding: 10px 7px 0;
}

.description {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}



